<!DOCTYPE html>
<html>
<head>
    <title>Chatbot</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div id="chatbot-container"></div>
    <script type="module">
        import Chatbot from "https://cdn.jsdelivr.net/npm/flowise-embed@latest/dist/web.js"
        Chatbot.init({
            chatflowid: "5f1fb5b8-d042-42cf-ac8d-95472464d132",
            apiHost: "https://frontend-production-2cfa.up.railway.app",
            container: "#chatbot-container"
        })
    </script>
</body>
</html>
